<div class="add-item-wrapper">
    <div class="add-item-title">

        <h2>Fill item info</h2>

    </div>

    <div class="add-item-form">

        <div class="add-item-form-input add-item-form-name">
            <InputText placeHolder="item name">

            </InputText>
        </div>

        <div class="add-item-form-input add-item-form-parent">
            <InputText type='number' placeHolder="item price">

            </InputText>
        </div>

        <div class="add-item-form-input add-item-form-items">
            <AuthCompleteInput placeHolder="select categories"></AuthCompleteInput>
        </div>

        <div class="add-item-form-input add-item-form-actions">
            <Button
                    class="action-button"
                    label="add "
                    icon="pi pi-plus"
                    iconPos="right">

            </Button>

        </div>

    </div>

</div>