<div class="add-category-wrapper">
    <div class="add-category-title">

        <h2>Fill category info</h2>

    </div>

    <div class="add-category-form">

        <div class="add-category-form-input add-category-form-name">
            <InputText placeHolder="category name"></InputText>
        </div>

        <div class="add-category-form-input add-category-form-parent">
            <DropdownInput placeHolder="parent"></DropdownInput>
        </div>

        <div class="add-category-form-input add-category-form-items">
            <AuthCompleteInput placeHolder="parent"></AuthCompleteInput>
        </div>

        <div class="add-category-form-input add-category-form-actions">
            <Button
                    class="action-button"
                    label="add "
                    icon="pi pi-plus"
                    iconPos="right">

            </Button>

        </div>

    </div>

</div>