@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.input-text-area-item-field {
    text-align: start;
    padding-bottom: 18px;
    width: 100%;
    font: normal normal normal 16px/25px Poppins;

}

.input-field {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12) !important
}

.input-text-area-item-container-wrapper .p-inputtext {
    width: 100% !important;
    outline: none;
    border-color: none;
    border-radius: 15px;
    /* height: 40px; */
}

.input-text {
    height: 36px !important;
    border: solid 1px #DBDDE180;
    width: 100% !important;
}

.input-text-area-item-container-wrapper .p-inputtext::placeholder {
    font-family: Poppins, serif;
}

.input-text-area-item-container-wrapper .p-inputtext {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border: 0.5px solid #DBDDE180;
    opacity: 1;
}

.input-text-area-item-container-wrapper .p-inputtext:enabled:hover {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border: 0.5px solid #DBDDE180;
}

.input-text-area-item-container-wrapper .p-inputtext:enabled:focus {
    box-shadow: inset 0 0 0 1px #F2DE31, inset 0 0 0 1px #F2DE31, inset 0 0 0 1px #F2DE31, inset 0 0 0 1px #F2DE31;
    outline: 0 none;
    border-color: #F2DE31;
}

.input-text-area-item-container-wrapper .p-inputtext.p-invalid.p-component:focus {
    border-color: #F2DE31 !important;
}

.p-input-icon-right {
    width: 100% !important;
}

.p-input-icon-left {
    width: 100% !important;
}

.error-msg {
    color: red;
    margin-left: 1%;
    font-family: Poppins, serif;
    font-size: 12px;
}