<div class="input-password-item-field">

    <div class="input-password-label-wrapper">

        <span class="input-password-label">{{label}}</span><br>

    </div>

    <div class="input-password-item-container-wrapper">
        <Password
                toggleMask

                :feedback="false"
                :class="{'p-invalid':vValid && submitted}"
                class=" input-field-password"
                @update:modelValue="changeValue($event)"
                v-model="valuePassword"
                type="text"
                :placeholder=placeHolder

        />
    </div>


    <span class="error-msg" v-if="error?.$error">{{
        error?.$errors[0]?.$message }}
    </span>
</div>